.footer {
  border-top: 1px solid #eaebee;
  padding: 0 16px;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  width: 780px;
}

.footer__etce {
  padding: 48px 0;
}

.footer__othermenu {
  width: 464px;
  display: flex;
}

.othermenu__list {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.othermenu__item {
  padding: 18px;
}

.otherlink {
  font-size: 14px;
  color: black;
}

.otherlink:hover {
  text-decoration: underline;
}

.download {
  padding-top: 10px;
  float: right;
  display: none;
}

.download__title {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 15px;
}

.download__logo {
  width: 304px;
  display: flex;
  justify-content: space-between;
}

.btn__download:hover {
  background-color: #eaebee;
  opacity: 0.5;
}

.footer__info {
  border-top: 1px solid #eaebee;
  padding: 24px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo__list {
  display: flex;
  align-items: center;
}

.logo__link {
  padding: 8px;
}

.logo__link:hover {
  opacity: 0.5;
}

.nation {
  display: flex;
  cursor: pointer;
  color: #868b94;
  padding: 9px;
  margin-left: 10px;
}

.nation:hover {
  background-color: #eaebee;
  opacity: 0.5;
  border-radius: 3px;
}

.nation__select {
  color: #868b94;
  border: none;
  padding-left: 4px;
  -webkit-appearance: none;
  text-indent: 0.1rem;
  cursor: pointer;
}

.company__info {
  line-height: 1.4;
  color: #868b94;
  font-size: 13px;
}

/* b태그나 strong 태그 적용만 하면 안되길래 그냥 따로 추가.. */
.bold {
  font-weight: 700;
  color: #868b94;
}

.question__link:hover {
  text-decoration: underline;
}
.question__link:not(:last-of-type) {
  margin-right: 16px;
}

.law__link .private {
  color: black;
}

.law__link:hover {
  text-decoration: underline;
}

.law__link:not(:last-of-type) {
  margin-right: 16px;
}
