@import url(./reset.css);

.wrapper {
  margin: 150px auto 0 auto;
  @include size(450px, 650px);
  background: white;
}

.login {
  &__body {
    font-family: "Roboto", sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(228, 66, 47, 1) 0%,
      rgba(236, 146, 24, 0.8792309159992122) 61%
    );
  }

  &__header {
    padding-top: 100px;
  }

  &__title {
    text-align: center;
    padding-bottom: 50px;
  }

  &__warn {
    padding: 10px;
    font-size: 12px;
    color: red;
    display: inline-block;
  }
}

.form {
  text-align: center;
}

.pwfind {
  margin-bottom: 30px;
  position: relative;

  &__form {
    color: black;
    display: none;

    &.block {
      display: block;
    }
  }

  &__submit {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    color: orangered;
  }

  &__warn {
    color: red;
    font-size: 12px;
    padding: 5px 0 5px 0;
  }
}

.btn__pwfind {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  color: red;
  text-decoration: none;
  position: absolute;
  left: 28;
}

/*
이 부분을 어떻게 나눠야 할지..
*/
.login__id,
.login__pw,
.signup__id,
.signup__pw,
.signup__email,
.pwfind__id {
  padding: 5px;
  @include size(400px, 50px);
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}

.login__and__signup {
  margin-top: 20px;
  text-align: center;
}

.login__submit,
.login__btn__signup,
.signup__submit {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(228, 66, 47, 1) 0%,
    rgba(236, 146, 24, 0.8792309159992122) 61%
  );
  color: white;
  text-decoration: none;
  line-height: 40px;
  border: none;
  outline: none;
  @include size(400px, 50px);
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.duplication {
  cursor: pointer;
  font-size: 20px;
  border: none;
  color: white;
  background-color: orange;
  border-radius: 5px;
  outline: none;
  @include position(absolute, 15px, 25px);

  &:none {
    display: none;
  }
}

.signup {
  &__id__warn,
  &__pw__warn,
  &__email__warn,
  &__mobile__warn {
    color: red;
    font-size: 12px;
    position: absolute;
  }
  &__id__warn {
    top: 20;
    right: 110;
  }

  &__pw__warn {
    top: 85;
    left: 101;
  }

  &__email__warn {
    top: 150;
    left: 68;
  }

  &__mobile__warn {
    top: 220px;
    left: 126px;
  }

  &__form {
    display: none;
    position: relative;
  }
}

.mobile {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  margin: 0 5px;

  &__title {
    color: gray;
    font-size: 14px;
  }

  &__input {
    display: flex;
    margin: 0 0 30px 30px;
  }
}
