* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  z-index: 999;
  width: 100%;
  max-width: 120rem;
}

.header__inner {
  min-width: 1600px;
  padding: 10px 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: white;
}

.header__left {
  margin-right: 80px;
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  flex-direction: flex-end;
}
.nav_list {
  display: flex;
  flex-direction: flex-start;
}

.header__logo {
  padding-left: 70px;
  padding-right: 40px;
}

.nav_item {
  font-weight: 700;
  font-size: 18px;
  padding-right: 30px;
}

.nav_item .orange {
  color: #ff6f0f;
}

.nav_item a {
  color: #4d5159;
}
.nav_item a:hover:not(.orange) {
  color: #008c72;
}

.search_text {
  width: 18rem;
  background-color: #f2f3f6;
  height: 2.6rem;
  padding: 0.9rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  margin-right: 10px;
  font-size: 1rem;
}

.search_text:focus {
  outline: none;
}

.chat__button {
  height: 40px;
  font-weight: 700;
  line-height: 0.5;
  font-size: 1rem;
  letter-spacing: -2%;
  white-space: nowrap;
  background-color: #fff;
  color: #212124;
  padding: 15px;
  border: 1px solid #d1d3df;
  border-radius: 5px;
  cursor: pointer;
}

.chat_button:hover {
  background-color: #d1d3df;
}

.searchbtn {
  display: none;
  border: 0;
  background: none;
  cursor: pointer;
}

.morebtn {
  cursor: pointer;
  display: none;
  border: 0;
  background: none;
}

.section_title1 {
  padding-top: 62px;
}

@media screen and (max-width: 1100px) {
  .header__left {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header__chat {
    display: none;
  }
  .header__search {
    display: none;
  }
  .header__searchbtn {
    display: block;
  }
  .header__morebtn {
    display: block;
  }
}
