* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */
.header {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.header__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__left {
  margin-right: 80px;
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  flex-direction: flex-end;
}

.header__logo {
  padding-right: 40px;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-weight: 700;
  font-size: 18px;
}

.nav__item:not(:last-of-type) {
  padding-right: 30px;
}

.nav__link {
  color: #4d5159;
}

.nav__item .orange {
  color: #ff6f0f;
}

.nav__link:hover:not(.orange) {
  color: #008c72;
}

.search__text {
  width: 18rem;
  background-color: #f2f3f6;
  height: 2.6rem;
  padding: 0.9rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.search__text:focus {
  outline: none;
}

.btn__chat {
  height: 40px;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #d1d3df;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
  margin-left: 20px;
}

.btn__chat:hover {
  background-color: #d1d3df;
}

.m__btn__search {
  display: none;
  border: 0;
  cursor: pointer;
  background: none;
}

.m__btn__more {
  background: none;
  cursor: pointer;
  display: none;
  border: 0;
}

.section__top {
  padding-top: 22px;
  background-color: #fbf7f2;
}

.top__inner {
  width: 1024px;
  height: 760px;
  margin: 0 auto;
  position: relative;
}

.top__img {
  position: absolute;
  right: -173px;
  bottom: 0;
  width: 804px;
  height: 685px;

  /* background-color: #fbf7f2; */
  /* background-repeat: no-repeat;*/
  /* background-size: 804px 685px;*/
}

.top__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.5;
  padding-top: 270px;
  margin-bottom: 34px;
}

.top__text {
  font-size: 15px;
  line-height: 1.5;
}

/* middle1 */
.section__middle1 {
  padding: 60px 0;
}

.middle1__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
}

.middle1__img {
  width: 532px;
  height: 684px;
}

.middle1__title {
  font-weight: 700;
  line-height: 1.5;
  font-size: 40px;
  margin-bottom: 20px;
}

.middle1__text {
  margin-bottom: 50px;
}

.btn__popular {
  background-color: #f1f3f5;
  color: #212529;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 24px;
  /* display: inline-block; */
  /* border: none; */
}

.btn__trust {
  font-size: 18px;
  padding: 20px 24px;
  font-weight: 700;
  background-color: #f1f3f5;
  color: #212529;
  border-radius: 6px;
  text-decoration: none;
  margin-left: 10px;
  /* display: inline-block; */
  /* border: none; */
}

.btn__popular:hover,
.btn__trust:hover {
  background: #008c72;
}

/* middle2 */

.section__middle2 {
  padding: 50px 0;
  background-color: #e6f3e6;
}

.middle2__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
}

.middle2__title {
  font-weight: 700;
  line-height: 1.4;
  font-size: 40px;
  margin-bottom: 20px;
}

.middle2__text {
  line-height: 1.5;
  padding-bottom: 60px;
}

.middle2__story {
  display: flex;
  align-items: center;
}

.story__item:not(:last-of-type) {
  margin-right: 30px;
}

/* 아이콘 */
.story__icon {
  width: 56px;
  height: 56px;
}

.question__icon {
  background-image: url(./img/question.svg);
}

.center__icon {
  background-image: url(./img/center.svg);
}

.class__icon {
  background-image: url(./img/class.svg);
}

.story__icon {
  margin-bottom: 15px;
}

/* 아이콘 소제목 */
.story__title {
  font-weight: 550;
  font-size: 14px;
  margin-bottom: 15px;
}

/* 아이콘 내용 */
.story__text {
  font-size: 13px;
  line-height: 1.5;
}

.middle2__img {
  position: relative;
  top: 25px;
  width: 546px;
  height: 740px;
}

/* bottom */

.section__bottom {
  padding: 80px 0;
}

.bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
}

.bottom__img {
  width: 526px;
  height: 735px;
}

.bottom__title {
  font-weight: 700;
  line-height: 1.35;
  font-size: 38px;
  margin-bottom: 30px;
}

.bottom__text {
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn__market {
  background-color: #f1f3f5;
  color: #212529;
  border: none;
  border-radius: 6px;
  padding: 18px 23px;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
}

.btn__market:hover {
  background: #d1d3df;
}
