// size
@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

// posiiton
@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
