* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(228, 66, 47, 1) 0%,
    rgba(236, 146, 24, 0.8792309159992122) 61%
  );
}

.wrapper {
  margin: 150px auto 0 auto;
  width: 450px;
  height: 650px;
  background: white;
}

header {
  padding-top: 100px;
}

h2 {
  text-align: center;
  padding-bottom: 50px;
}

form {
  text-align: center;
}

.forget {
  margin-bottom: 30px;
  position: relative;
}

.btn__forget {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: white;
  color: red;
  text-decoration: none;
  position: absolute;
  left: 28;
}

.id__login,
.pw__login,
.id__signup,
.pw__signup,
.pwfind__id {
  padding: 5px;
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}

.btn__submit,
.btn__signup,
.btn__signupsubmit {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(228, 66, 47, 1) 0%,
    rgba(236, 146, 24, 0.8792309159992122) 61%
  );
  color: white;
  text-decoration: none;
  line-height: 40px;
  border: none;
  outline: none;
  width: 400px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit__and__signup {
  margin-top: 50px;
}

.submit,
.signup,
.submit__signup {
  text-align: center;
  margin-top: 10px;
}

.signup__form {
  padding-top: 50px;
  display: none;
}

.warn__login {
  padding: 10px;
  margin-left: 15px;
  left: 10px;
  font-size: 12px;
  float: right;
  color: red;
  position: inline-block;
}

.signup__idinput {
  position: relative;
}

.duplication {
  cursor: pointer;
  font-size: 20px;
  border: none;
  color: white;
  background-color: orange;
  border-radius: 5px;
  outline: none;
  position: absolute;
  right: 25;
  top: 15px;
}

.duplication.none {
  display: none;
}

.warn__id,
.warn__pwd1,
.warn__pwd2,
.warn__email,
.warn__phone,
.ok__id {
  color: red;
  font-size: 12px;
  position: absolute;
}

.warn__id {
  top: 20;
  right: 110;
}

.warn__pwd1,
.warn__pwd2 {
  top: 85;
  left: 101;
}

.warn__email {
  top: 150;
  left: 68;
}

.warn__phone {
  left: 126px;
  top: 220px;
}

.pwfind__form {
  color: black;
  display: none;
}

.pwfind__form.block {
  display: block;
}

.pwfind__submit {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: blueviolet;
}

.pwfind__warn {
  color: red;
  font-size: 12px;
  padding: 5px 0 5px 0;
}

.mobile__input {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}
.phone__title {
  color: gray;
  font-size: 14px;
}

.mobile {
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  margin: 0 5px;
}
