/* header */
.header {
  z-index: 999;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.header__inner {
  max-width: 1200px;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.main__logo {
  display: block;
}

.header__logo {
  padding-right: 40px;
}

.header__menu {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-weight: 700;
  font-size: 18px;
}

.nav__item:not(:last-of-type) {
  padding-right: 30px;
}

.nav__link {
  color: #4d5159;
}

.nav__item .orange {
  color: #ff6f0f;
}

.nav__link:hover:not(.orange) {
  color: #008c72;
}

.btn__signup {
  height: 40px;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #d1d3df;
  border-radius: 5px;
  padding: 0 15px;
  cursor: pointer;
  margin-left: 20px;
}

.btn__signup:hover {
  background-color: #eaebee;
  opacity: 0.5;
}

.m__btn__search {
  display: none;
  border: 0;
  cursor: pointer;
  background: none;
}

.m__btn__more {
  background: none;
  cursor: pointer;
  display: none;
  border: 0;
  padding-left: 15px;
}

.search__text {
  display: none;
  width: 18rem;
  background-color: #f2f3f6;
  height: 2.6rem;
  padding: 0.9rem 1.2rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.search__text:focus {
  outline: none;
}

@media (min-width: 900px) {
  .header__menu {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .m__btn__more {
    display: block;
  }

  .btn__signup {
    display: none;
  }
}

@media (min-width: 1100px) {
  .search__text {
    width: 18.8rem;
    display: block;
  }
}

@media (max-width: 1100px) {
  .m__btn__search {
    display: block;
  }
}
